include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst
recursive-include dj_generatortools *.html *.png *.gif *js *.css *jpg *jpeg *svg *py
recursive-include stubbs *
include dj_generatortools/cookiecutter_recipes/bigapp/cookiecutter.json